.login-form{
    min-height: 60vh;
    padding: 30px !important;
}

/* horizontal line */
.auth-form .hl {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    width: 100%;
    margin-top: 20px;
  }
  
  /* text inside the horizontal line */
  .hl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 13px;
    margin-left: 50%;
  }

  .login-icon{
    margin-top: 1.5rem;
  }

  .google{
    margin-left: .3rem;
    color: #db3236;
  }

  .fb{
    margin-left: 4.6rem;
    color: #4885ed;
  }