@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
  --heading-color: #424242;
  --text-color: #424242;
  --primary-color: #212121;
  --highlight-color: #d13267;
  --bg-color: #8EC5FC;
  --project-color: #EEEEEE;
  --bg-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  --bg-side: linear-gradient(to right, #141e30, #243b55);
  --bg-btn: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );

}


/* base styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.1em;
  background: var(--bg-color);
  background-image: var(--bg-image);
}
ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 1.2em;
  color: var(--heading-color);
  display: inline-block;
  position: fixed;
  margin-top: -50px;
  color: #424242;
}
.btn {
  padding: 10px 20px;
  border-radius: 4px;
  color: var(--bg-btn);
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--bg-btn);
  font-weight: 550;
}
.btn:hover {
  color: #fff;
  background-image: var(--bg-btn);
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
  color: #424242;
  font-weight: 600;
}
input, textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: black;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}