@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

.card-box {
  min-height: 20vh !important;
  min-width: 18em;
}

.card-img {
  height: 90px !important;
  width: 90px !important;
  text-align: center;
  margin-bottom: 1em;
}

.card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'Noto Sans', sans-serif !important;
}

.user-name,
.user-status {
  padding-left: 1em;
  margin-top: 0.5em;
  font-size: 1.2em;
  color: var(--heading-color);
  font-weight: 550;
}

.card-button {
  text-align: left;
  margin-top: 1em;
  padding-left: 1em;
}
